body {
    background-color: #f3f3f6;
    text-align: center;
    padding-left: 2em;
    vertical-align: text-top;
}

#First,
#Second,
#Three,
#Four,
#Five,
#Six,
#Seven,
#Eight {
    padding-top: 3em;
    font-weight: bold;
    letter-spacing: 2px;
}

table {
    display: inline-block;
    text-align: left;
    margin-bottom: 1em;
}

table caption {
    font-size: 2em;
    width: 10em;
    text-align: left;
    margin-bottom: 0.8em;
}

table td{
    letter-spacing: 1px;
    padding: 5px;
}
table td label{
    margin-left: 20px;
}

/*가능한 시간대 표*/
#TimeTable,
#TimeTable2 { 
    text-align: center;
}

#Second,
#Three,
#Four,
#Six,
#Seven,
#Eight {
    display: none;
}

.btn {
    margin: 0.2em 0.1em;
    padding: 0;
    border-width: 0;
    border-color: transparent;
    letter-spacing: 1px;
    cursor: pointer;
    font-weight: 600;
    position: relative;
    font-family: inherit;
    padding: 0.3em 0.5em;

    overflow: hidden;
    bo rder-width: 0;
    border-radius: 0.3em;
    background: #5260AE;
    -webkit-transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
    color: white;
}

.btn:hover,
.btn:focus {
    opacity: 0.75;
}